*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p{
    font-family: fantasy;
    text-shadow: -1px 1px 2px #737373;
}

.container-secion-wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.calculator{
    width: 35%;
    height: 77%;
    background-color: #e4e4e4;
    border-radius: 8px;
    -webkit-box-shadow: 0px 5px 11px -1px rgba(0,0,0,0.62); 
    box-shadow: 0px 5px 11px -1px rgba(0,0,0,0.62);
}

.calculater-header-section{
    border-bottom: 1px solid rgb(173, 173, 173);
    padding: 10px 15px;
}

.calculater-monitor{
    background-color: rgb(82, 82, 82);
    border-radius: 10px 10px 0px 0px;
    -webkit-box-shadow: inset 4px 4px 15px 0px #000000, 0px 5px 29px 0px rgba(0, 0, 0, 0); 
    box-shadow: inset 4px 4px 15px 0px #000000, 0px 5px 29px 0px rgba(0, 0, 0, 0);
    padding: 0px 10px;
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-flow: column;
    
}

.previous-number{
    width: 100%;
    height: 20%;
    font-size: 40px;
    font-weight: 100;
    color: rgba(35, 201, 35, 0.352);
    display: flex;
    flex-direction: row-reverse;
    &::after{
        content: ".";
        visibility: hidden;
    }
    overflow: hidden;
}
.current-number{
    width: 100%;
    height: 80%;
    font-size: 60px;
    color: rgb(29, 213, 29);
    font-weight: 900;
    display: flex;
    flex-direction: row-reverse;
    &::after{
        content: ".";
        visibility: hidden;
    }
    overflow: hidden;
}

.calculater-keyboard-section{
    width: 100%;
    height: 100%;
    display: flex;
}

.calculater-keyboard-number-keys{
    width: 100%;
    height: 485px;
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    justify-content: flex-end;
    padding: 10px 12px;
    
    
    div{
        width: 25%;
        display: flex;
        justify-content: center;
    }

    p{
        text-align: center;
        font-size: 36px;
        width: 80px;
        height: 80px;
        line-height: 80px;
        border-radius: 50%;
        background-color: #fff;
        -webkit-box-shadow: 0px 5px 11px -1px rgba(0, 0, 0, 0.62);
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.37);
        user-select: none;
    }

    p:active{
        box-shadow: none;
        transition: 0.3s;
    }

    button{
        text-align: center;
        font-size: 36px;

        width: 80px;
        height: 80px;
        line-height: 80px;
        border-radius: 50%;
        background-color: #fff;
        border: none;
        -webkit-box-shadow: 0px 5px 11px -1px rgba(0, 0, 0, 0.62);
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.37);
        user-select: none;
    }
    button:hover{
        box-shadow: 0px 0px 8px 3px rgba(130, 130, 130, 0.58);

    }
    button:active{
        box-shadow: none;
        transition: 0.3s;
    }

}

.clear{
    background-color: rgba(255, 0, 0, 0.682) !important;
}
.delete{
    background-color: rgba(255, 255, 0, 0.888) !important;
}
.equal{
    background-color: rgba(0, 255, 4, 0.822) !important;
}
.operator-key{
    background-color:  #32e4e8 !important;
}
.Decimal{
    background-color:  #ffecec !important;
}


.dontClick, .Reload-page{

    p{
        -webkit-box-shadow: inset 0px 5px 11px -1px rgba(0, 0, 0, 0.62);
        box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.37);
        font-size: 16px;
        font-weight: 100;
        line-height: 20px;
        padding: 10px;
    }

    p:active{
        -webkit-box-shadow: inset 0px 5px 11px -1px rgba(0, 0, 0, 0.62);
        box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.37);
    }
}